*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
a{
    text-decoration: none;
}
.section-1{
    height: 100vh;
    background-image: url(../img/bg1.jpg);
    background-size: cover;
    background-position: center;
}
.logo{
    background-image: url(../img/logo1.png);
    background-size: cover;
    height: 3px;
    width: 70px;
    padding: 20px;
    margin-top: 16px;
    margin-left: 22px;
}
nav{
    height: 80px;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}
.nav-left div:first-child{
    border:none;
}
nav div div{
    border-top: 4px solid rgba(3, 150, 255,0);
    transition: 0.5s
}
nav:hover{
    background-color: #fff;
    transition: 0.5s;
}
nav:hover i{
    color: #999;
}
nav:hover a{
    color: #000;
}
nav:hover .nav-right div:last-child a{
    border: 1px solid rgb(3, 150, 255);
    color: rgb(3, 150, 255);
    transition: 0.5s;
}
nav:hover .logo{
    background-image: url(../img/logo2.png);
}
nav div div{
    float: left;
    text-align: center;
    padding: 24px 26px;
    font-size: 20px;
}
.nav-right div:last-child a{
    background-color: #fff;
    color: #000;
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
    border: 1px solid #000;
    transition: 0.5s;
}
.btn-sign:hover span{
    color: #fff;
}
.nav-right div:last-child a:hover{
    background-color: rgb(3, 150, 255);
}
.nav-left div:hover{
    border-top: 4px solid rgb(3, 150, 255);
    transition: 0.5s;
}
.nav-left div:first-child:hover{
    border:none;
}
nav a{
     color: #f2f2f2;
}
nav div{
    float: left;
}
.nav-right{
    float: right;
}
.header-container{
    position: absolute;
    top: 25%;
    left: 50.5%;
    transform: translate(-50%);
    text-align: center;
}
.header-container h1{
    color: #fff;
    font-size: 48px;
    margin: 40px 0px;
}
.header-container button{
    padding: 20px 60px;
    background: #fff;
    font-weight: bold;
    font-size: 20px;
    border: none;
    color: rgb(3, 150, 255);
    border-radius: 55px;
    cursor: pointer;
    transition: 0.5s;
}
.header-container button:hover{
    background: rgba(255,255,255,0.7);
    transition: 0.5s;
}
.section-2{
    display: flex
}
.section-2 .col-1{
    font-size: 54px;
    width: 50vw;
    margin: 100px;
}
.section-2 .col-2{
    font-size: 12px;
    width: 50vw;
    margin: 100px 140px 100px 20px;
}
.section-2 .col-2 h2{
    font-size: 20px;
    font-weight: lighter;
    line-height: 35px;
}
.section-2 .col-2 span a{
    color: #000;
    border-bottom: 3px solid #aaa;
}
.section-2 .col-2 span{
    font-size: 22px;
}

.section-3 .col-1 div,.section-3 .col-2 div{
    width: 650px;
    height: 600px;
}
.section-3 .cards{
    display: flex;
    justify-content: center;
}
.card-1{
    border: 2px solid black;
}
.card-1 .card-text,.card-5 .card-text,.card-6 .card-text{
    height: 10px;
    display: table-cell;
    vertical-align: middle;
}
.card-1 .card-text h1,.card-5 .card-text h1,.card-6 .card-text h1{
  font-size: 64px;
  margin: 0px 0px 10px 100px;
}
.card-1 .card-text h2,.card-5 .card-text h2,.card-6 .card-text h2{
  font-size: 34px;
    margin: 0px 0px 25px 100px;
    margin-left: 100px;
}
.card-1 .card-text h3,.card-5 .card-text h3,.card-6 .card-text h3{
  font-size: 20px;
  margin-left: 100px;
    margin: 0px 0px 20px 100px;
    width: 500px;
    font-weight: lighter;
}
.card-1 .card-text span,.card-5 .card-text span,.card-6 .card-text span{
  font-size: 24px;
  margin: 100px;
}
.card-1 .card-text span a,.card-5 .card-text span a,.card-6 .card-text span a{
  color: #000;
  border-bottom: 3px solid #aaa; 
}
.card-2{
   border: 2px solid black; 
    border-bottom: none;
    border-left: none;
}
.card-3{
   border: 2px solid black; 
    border-top: none;
}
.card-4{
   border: 2px solid black; 
   border-left: none;
}
.card-5{
   border: 2px solid black; 
   border-top: none;
}
.card-6{
   border: 2px solid black; 
   border-left: none;
    border-top: none;
}